.swiper {
	height: 100%;
}

.swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.swiper-slide img {
	height: 60vh;
	margin-bottom: 40px;
}
